@use "_variables.scss" as variables;

.poll-result-container {
  border: 2px solid variables.$border-colour-white;
  border-radius: 4%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: rgba(255, 255, 255, 0.1);
  width: variables.$option-width;
  max-width: variables.$option-max-width;
  height: 15vh;
  max-height: 100px;
  display: grid;
  place-items: start;
  display: flex;

  .progress-bar-container {
    overflow: hidden;
    height: 2rem;
    width: 50vw;
    height: 15vh;
    max-height: 100px;
    // max-width: 400px;
    color: variables.$primary-text-colour;
    font-family: variables.$primary-font-family;
    position: relative;
    align-items: center;
    justify-content: center;

    span {
      position: absolute;
      color: white;
      font-weight: bold;
      z-index: 2;
      top: 3vh;
      left: 8vw;
      font-family: variables.$primary-font-family;
      font-size: 1.5rem;
    }

    .progress-bar {
      height: 100%;
      width: 0%;
      background: rgba(255, 255, 255, 0.3);
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
