@use "_variables.scss" as variables;

.results-view-container {
  display: grid;
  place-items: start center;

  .results-headers {
    height: 10vh;
    width: 100vw;
    margin-bottom: 1%;
    display: grid;
    place-content: center;

    .header {
      color: variables.$primary-text-colour;
      font-family: variables.$primary-font-family;
      font-size: 2rem;
      margin: 0;
    }

    .header:last-of-type {
      font-weight: bold;
      margin: 1vh;
    }
  }

  .button {
    width: variables.$option-width;
    max-width: variables.$option-max-width;
    height: 10vh;
    background-color: #ffffff;
    color: variables.$secondary-test-colour;
    font-family: variables.$primary-font-family;
    font-size: 1.5rem;
    border-radius: 5%;

    &:hover {
      cursor: pointer;
      background-color: variables.$interactive-hover-colour;
    }

    &:disabled {
      cursor: not-allowed;
      opacity: 0.6;
    }
  }
}
