<div class="poll-view-container">
  @if (poll) {
  <div class="poll-description">
    <div class="description-text">{{ poll.description }}</div>
  </div>
  <div class="poll-entry-container">
    @for (entry of poll.options; track entry.name; let i = $index;) {
    <app-poll-option
      (countVote)="updateSelectedEntry(i)"
      [entryTitle]="entry.name"
      [selectedClass]="selectedIndex === i ? 'selected' : ''"
    ></app-poll-option>
    } @empty {
    <p class="no-poll-text">No Active Poll found</p>
    }
  </div>
  {{ selectedIndex }}
  <div>
    <button
      (click)="submitVote()"
      class="submit-button"
      [disabled]="!selectedOption"
    >
      SUBMIT
    </button>
  </div>
  }
</div>
