@use "_variables.scss" as variables;

.poll-view-container {
  display: grid;
  place-items: start center; /* Centers both horizontally & vertically */

  .poll-view-header {
    height: 5vh;

    span {
      font-family: variables.$primary-font-family;
      color: white;
    }
  }
}
