<div class="poll-view-container">
  <div class="poll-description">
    <span>{{ poll.description }}</span>
  </div>
  <div class="poll-entry-container">
    @for (entry of poll.options; track entry.name; let i = $index;) {
    <app-poll-option
      (countVote)="updateSelectedEntry(i)"
      [entryTitle]="entry.name"
      [ngClass]="{ selected: selectedOptionId === i }"
    ></app-poll-option>
    } @empty {
    <p>No Active Poll found</p>
    }
  </div>
  <div>
    <button
      (click)="submitVote()"
      class="submit-button"
      [disabled]="!selectedOption"
    >
      SUBMIT
    </button>
  </div>
</div>
