@use "_variables.scss" as variables;

.poll-view-container {
  display: grid;
  place-items: start center;

  .poll-description {
    height: 10vh;
    width: 90vw;
    max-width: 500px;
    margin-bottom: 1%;
    display: grid;
    place-content: center;

    .description-text {
      font-family: variables.$primary-font-family;
      color: white;
      font-size: clamp(0.5rem, 15vw, 2.5rem);
      word-spacing: 2%;
      text-align: center;
      line-height: clamp(1rem, 5vh, 4rem);
      text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    }
  }

  .poll-entry-container {
    max-height: 60vh;
    overflow: scroll;
    margin-bottom: 5%;
  }

  .submit-button {
    width: variables.$option-width;
    max-width: variables.$option-max-width;
    height: 10vh;
    background-color: #ffffff;
    color: variables.$secondary-test-colour;
    font-family: variables.$primary-font-family;
    font-size: 1.5rem;
    border-radius: 5%;

    &:hover {
      cursor: pointer;
      background-color: variables.$interactive-hover-colour;
    }

    &:disabled {
      cursor: not-allowed;
      opacity: 0.6;
    }
  }
}
