@use "_variables.scss" as variables;

.poll-entry-container {
  display: grid;
  place-items: center;
  border: 2px solid variables.$border-colour-white;
  border-radius: 4%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: rgba(255, 255, 255, 0.1);
  width: variables.$option-width;
  max-width: variables.$option-max-width;
  height: variables.$option-height;
  max-height: variables.$option-max-height;

  .selected {
    background-color: variables.$interactive-hover-colour;
  }

  &:hover {
    background-color: variables.$interactive-hover-colour;
    cursor: pointer;
  }

  .entry-name {
    font-family: variables.$primary-font-family;
    padding: 5% 20%;
    font-size: 1.5rem;
    color: variables.$primary-text-colour;
  }
}
