//App wide colours:
$primary-text-colour: #ffffff;
$secondary-test-colour: #9b51e0;
$interactive-hover-colour: #56bef2;
$primary-background-colour: #8f6aed;

//App wide fonts
$primary-font-family: "Outfit", Helvetica, Arial, sans-serif;
