//App wide colours:
$primary-text-colour: #ffffff;
$secondary-test-colour: #9b51e0;
$interactive-hover-colour: #56bef2;
$primary-background-colour: #8f6aed;

$border-colour-white: #ffffff;

//App wide fonts
$primary-font-family: "Outfit", Helvetica, Arial, sans-serif;

//entry shared styles
$option-width: 90vw;
$option-max-width: 500px;
$option-height: 15vh;
$option-max-height: 100px;
