/* You can add global styles to this file, and also import other style files */
// @import "variables.scss";
@use "_variables.scss" as variables;

html {
  background-color: variables.$primary-background-colour;
  width: 100vw;
  overflow-x: hidden;
}
