/* You can add global styles to this file, and also import other style files */
// @import "variables.scss";
@use "_variables.scss" as variables;

html {
  background: linear-gradient(135deg, #10002b, #3c096c, #5a189a);
  width: 100vw;
  overflow-x: hidden;
}
