.app-container {
  height: 100vh;
  width: 100%;

  .app-header {
    display: grid;
    place-items: start center;
    height: 14vh;
    img {
      height: 11vh;
      width: 50vw;
      max-width: 180px;
    }
  }

  .app-content {
    display: grid;
    place-items: start center;
  }
}
